In [121]:
import numpy as np
import pandas as pd

## Data retribval and mapping of category

In [122]:
data = pd.read_csv('./data_with_sub_categories.csv')
data.head()

,scheme_name,Scheme Codes,expense_ratio,risk_level,returns_1yr,returns_3yr,returns_5yr,Sub_Category
0,Aditya Birla SL Active Debt Multi-Mgr FoF-Dir ...,100033,0.27,3,4.0,6.5,6.9,FoFs Domestic
1,Aditya Birla SL Arbitrage Fund,100034,0.36,1,5.6,4.8,5.5,Arbitrage Mutual Funds
2,Aditya Birla SL Asset Allocator FoF-Dir Growth,100037,0.53,5,2.0,18.9,9.7,FoFs Domestic
3,Aditya Birla SL Balanced Advantage Fund,100038,0.61,6,4.5,18.6,9.7,Dynamic Asset Allocation or Balanced Advantage
4,Aditya Birla SL Banking&Financial Services-Dir...,100041,1.17,6,5.3,24.6,9.2,Sectoral / Thematic Mutual Funds

In [123]:
# Create a dictionary to map indices to scheme_codes
index_to_scheme_code = dict(zip(data.index, data['Scheme Codes']))

# Example: Get the scheme_code corresponding to index 0
print("Scheme Code for index 0:", index_to_scheme_code)

Scheme Code for index 0: {0: 100033, 1: 100034, 2: 100037, 3: 100038, 4: 100041, 5: 100042, 6: 100043, 7: 100044, 8: 100046, 9: 100047, 10: 100048, 11: 100049, 12: 100051, 13: 100052, 14: 100053, 15: 100054, 16: 100055, 17: 100056, 18: 100057, 19: 100058, 20: 100059, 21: 100060, 22: 100061, 23: 100062, 24: 100063, 25: 100064, 26: 100065, 27: 100066, 28: 100067, 29: 100956, 30: 100970, 31: 100971, 32: 100972, 33: 101313, 34: 101314, 35: 101315, 36: 101316, 37: 101317, 38: 101318, 39: 101591, 40: 112210, 41: 112211, 42: 112212, 43: 112213, 44: 112214, 45: 112215, 46: 112216, 47: 112217, 48: 112277, 49: 112278, 50: 112322, 51: 112323, 52: 112354, 53: 112355, 54: 112369, 55: 112679, 56: 112680, 57: 112681, 58: 112682, 59: 112683, 60: 112684, 61: 112712, 62: 118484, 63: 109255, 64: 109264, 65: 109269, 66: 110606, 67: 110607, 68: 110608, 69: 111585, 70: 111589, 71: 111590, 72: 111709, 73: 111710, 74: 113036, 75: 119333, 76: 119334, 77: 119340, 78: 119354, 79: 119399, 80: 119400, 81: 119415, 82: 119416, 83: 133488, 84: 133517, 85: 133518, 86: 133520, 87: 139344, 88: 140463, 89: 142245, 90: 142246, 91: 100589, 92: 100590, 93: 100593, 94: 100596, 95: 100597, 96: 100600, 97: 100601, 98: 101361, 99: 101362, 100: 101363, 101: 101364, 102: 101365, 103: 101587, 104: 101588, 105: 101589, 106: 101922, 107: 100077, 108: 100078, 109: 100079, 110: 100080, 111: 100081, 112: 100082, 113: 100084, 114: 100085, 115: 100086, 116: 100087, 117: 100088, 118: 100089, 119: 100090, 120: 100940, 121: 100941, 122: 100943, 123: 101303, 124: 101304, 125: 101305, 126: 101306, 127: 101635, 128: 101636, 129: 101742, 130: 101743, 131: 101744, 132: 109934, 133: 109935, 134: 109936, 135: 109937, 136: 109938, 137: 109939, 138: 109940, 139: 109941, 140: 109942, 141: 109944, 142: 109945, 143: 109946, 144: 109949, 145: 109950, 146: 100470, 147: 100471, 148: 100472, 149: 100473, 150: 100481, 151: 100482, 152: 100483, 153: 100484, 154: 100485, 155: 100486, 156: 100487, 157: 100489, 158: 100490, 159: 100491, 160: 100493, 161: 100494, 162: 100495, 163: 100498, 164: 100499, 165: 100503, 166: 100504, 167: 100119, 168: 100120, 169: 100121, 170: 100122, 171: 100123, 172: 100124, 173: 100282, 174: 100283, 175: 100284, 176: 100285, 177: 100868, 178: 100869, 179: 100870, 180: 100871, 181: 100872, 182: 100873, 183: 100874, 184: 100875, 185: 100876, 186: 100877, 187: 100878, 188: 100881, 189: 100899, 190: 100900, 191: 100997, 192: 100998, 193: 101081, 194: 101082, 195: 101083, 196: 101084, 197: 101281, 198: 101282, 199: 101430, 200: 101431, 201: 101480, 202: 101481, 203: 101482, 204: 101593, 205: 101594, 206: 101597, 207: 101598, 208: 101599, 209: 101600, 210: 101685, 211: 101686, 212: 101687, 213: 101688, 214: 101691, 215: 101692, 216: 101693, 217: 101694, 218: 101696, 219: 101697, 220: 101698, 221: 101699, 222: 101700, 223: 101701, 224: 101702, 225: 102065, 226: 102066, 227: 102251, 228: 102252, 229: 102257, 230: 102258, 231: 102259, 232: 102260, 233: 102261, 234: 102262, 235: 100348, 236: 100349, 237: 100350, 238: 100351, 239: 100352, 240: 100353, 241: 100354, 242: 100355, 243: 100356, 244: 100357, 245: 100358, 246: 100359, 247: 100360, 248: 100361, 249: 100362, 250: 100363, 251: 100364, 252: 100365, 253: 100366, 254: 100367, 255: 100368, 256: 100369, 257: 100370, 258: 100371, 259: 100372, 260: 100952, 261: 100953, 262: 100954, 263: 100955, 264: 101098, 265: 101127, 266: 101143, 267: 101144, 268: 101165, 269: 101221, 270: 101228, 271: 101229, 272: 101230, 273: 101231, 274: 101349, 275: 101350, 276: 101351, 277: 101617, 278: 101618, 279: 101619, 280: 113062, 281: 113063, 282: 113096, 283: 113102, 284: 113103, 285: 113104, 286: 113249, 287: 113250, 288: 113251, 289: 113252, 290: 113253, 291: 113254, 292: 114630, 293: 114633, 294: 122612, 295: 131579, 296: 125337, 297: 115991, 298: 115992, 299: 115993, 300: 115994, 301: 115995, 302: 116424, 303: 104483, 304: 104484, 305: 104485, 306: 104486, 307: 104487, 308: 104488, 309: 104489, 310: 104490, 311: 104491, 312: 104492, 313: 104635, 314: 104636, 315: 104722, 316: 104723, 317: 104724, 318: 104725, 319: 104726, 320: 104727, 321: 104728, 322: 104729, 323: 105024, 324: 103780, 325: 101805, 326: 100220, 327: 120491, 328: 120488, 329: 100218, 330: 100233, 331: 143603, 332: 100222, 333: 107288, 334: 100254, 335: 100261, 336: 100262, 337: 100263, 338: 100264, 339: 100265, 340: 100278, 341: 100279, 342: 100280, 343: 100281, 344: 100286, 345: 100289, 346: 100290, 347: 100291, 348: 100292, 349: 100298, 350: 100299, 351: 100300, 352: 100301, 353: 100828, 354: 100829, 355: 100830, 356: 100831, 357: 100832, 358: 100833, 359: 100834, 360: 100835, 361: 100836, 362: 101372, 363: 118069, 364: 100312, 365: 100313, 366: 100314, 367: 100315, 368: 100316, 369: 100317, 370: 100318, 371: 100319, 372: 100321, 373: 100323, 374: 100325, 375: 100332, 376: 100864, 377: 100865, 378: 101184, 379: 101185, 380: 139534, 381: 139535, 382: 139536, 383: 139537, 384: 139538, 385: 139539, 386: 107578, 387: 107579, 388: 107589, 389: 107646, 390: 107647, 391: 107648, 392: 107649, 393: 107656, 394: 107657, 395: 117141, 396: 122388, 397: 122389, 398: 122390, 399: 124233, 400: 124303, 401: 124305, 402: 112408, 403: 112645, 404: 112647, 405: 112648, 406: 113142, 407: 100379, 408: 100383, 409: 100385, 410: 100386, 411: 100387, 412: 100837, 413: 100838, 414: 100851, 415: 100853, 416: 100856, 417: 100858, 418: 100859, 419: 101665, 420: 101667, 421: 101862, 422: 101864, 423: 102172, 424: 102173, 425: 102174, 426: 102431, 427: 102432, 428: 102433, 429: 102673, 430: 102675, 431: 102676, 432: 102677, 433: 102751, 434: 102752, 435: 102753, 436: 102848, 437: 102849, 438: 102851, 439: 103048, 440: 103050, 441: 103051, 442: 103052, 443: 122640, 444: 116484, 445: 116485, 446: 120084, 447: 120086, 448: 125305, 449: 125306, 450: 133836, 451: 133837, 452: 133838, 453: 133839, 454: 135598, 455: 135599, 456: 135600, 457: 135601, 458: 138254, 459: 100171, 460: 100172, 461: 100173, 462: 100174, 463: 100175, 464: 100176, 465: 100177, 466: 100630, 467: 100631, 468: 101065, 469: 101066, 470: 103490, 471: 103491, 472: 103734, 473: 103735, 474: 103736, 475: 107693, 476: 108479, 477: 100638, 478: 100639, 479: 100640, 480: 100641, 481: 100643, 482: 100644, 483: 100645, 484: 100717, 485: 100915, 486: 100917, 487: 100927, 488: 100928, 489: 100929, 490: 100934, 491: 100968, 492: 100999, 493: 101001, 494: 101002, 495: 101003, 496: 101160, 497: 101169, 498: 101206, 499: 101295, 500: 101530, 501: 101551, 502: 101929, 503: 101932, 504: 101933, 505: 101934, 506: 101935, 507: 101950, 508: 101951, 509: 101952, 510: 102030, 511: 102053, 512: 102054, 513: 102055, 514: 102056, 515: 102058, 516: 102061, 517: 102201, 518: 102202, 519: 125711, 520: 100602, 521: 100603, 522: 100604, 523: 100605, 524: 100606, 525: 100607, 526: 100608, 527: 100609, 528: 100610, 529: 100611, 530: 100612, 531: 100613, 532: 100614, 533: 100617, 534: 100618, 535: 100619, 536: 100620, 537: 100621, 538: 100622, 539: 100623, 540: 100780, 541: 100781, 542: 100782, 543: 100783, 544: 100784, 545: 100785, 546: 100786, 547: 100787, 548: 100788, 549: 100414, 550: 100415, 551: 100416, 552: 100417, 553: 100418, 554: 100474, 555: 100475, 556: 101000, 557: 101042, 558: 101049, 559: 101186, 560: 101222, 561: 101224, 562: 101419, 563: 101471, 564: 101489, 565: 101490, 566: 101491, 567: 101547, 568: 101548, 569: 101605, 570: 101606, 571: 101609, 572: 101659, 573: 101672, 574: 100476, 575: 100477, 576: 100480, 577: 101094, 578: 101095, 579: 101113, 580: 101114, 581: 101209, 582: 100496, 583: 100497, 584: 115270, 585: 115290, 586: 115398, 587: 115399, 588: 115400, 589: 115401, 590: 115402, 591: 100381, 592: 100382, 593: 100646, 594: 100648, 595: 100650, 596: 100651, 597: 100656, 598: 100657, 599: 100663, 600: 100664, 601: 100668, 602: 100669, 603: 100678, 604: 100682, 605: 100684, 606: 100685, 607: 100711, 608: 100712, 609: 100723, 610: 100724, 611: 100725, 612: 100739, 613: 100740, 614: 100741, 615: 100742, 616: 100748, 617: 100749, 618: 100750, 619: 100751, 620: 100800, 621: 100801, 622: 100802, 623: 100803, 624: 145963}

In [124]:
unique_values = data['Sub_Category'].unique()
len(unique_values)

36

In [125]:
category_mapping = {unique_values[i]: i+1 for i in range(len(unique_values))}
category_mapping

{'FoFs Domestic': 1,
 'Arbitrage Mutual Funds': 2,
 'Dynamic Asset Allocation or Balanced Advantage': 3,
 'Sectoral / Thematic Mutual Funds': 4,
 'Banking and PSU Mutual Funds': 5,
 'Corporate Bond Mutual Funds': 6,
 'Credit Risk Funds': 7,
 'Dividend Yield Funds': 8,
 'Dynamic Bond': 9,
 'Large & Mid Cap Funds': 10,
 'Aggressive Hybrid Mutual Funds': 11,
 'Equity Savings Mutual Funds': 12,
 'Flexi Cap Funds': 13,
 'Floater Mutual Funds': 14,
 'Focused Funds': 15,
 'Large Cap Mutual Funds': 16,
 'Gilt Mutual Funds': 17,
 'Medium to Long Duration Funds': 18,
 'Liquid Mutual Funds': 19,
 'Low Duration Funds': 20,
 'Medium Duration Funds': 21,
 'Mid Cap Mutual Funds': 22,
 'Money Market Funds': 23,
 'Index Funds': 24,
 'Value Funds': 25,
 'Conservative Hybrid Mutual Funds': 26,
 'Ultra Short Duration Funds': 27,
 'Short Duration Funds': 28,
 'Small Cap Mutual Funds': 29,
 'ELSS Mutual Funds': 30,
 'Childrens Funds': 31,
 'Multi Asset Allocation Mutual Funds': 32,
 'Multi Cap Funds': 33,
 'Overnight Mutual Funds': 34,
 'Retirement Funds': 35,
 'Contra Funds': 36}

## User Input

In [126]:
def calculate_expense_ratio(investment_budget):
    # Define expense ratio range for the Indian market (0.01 to 0.05)
    min_expense_ratio = 0.01
    max_expense_ratio = 0.05
    
    # Normalize investment budget between 0 and 1
    normalized_budget = investment_budget / 10000  # Assuming maximum investment budget is 500000 INR
    
    # Calculate normalized expense ratio within the range
    normalized_expense_ratio = min_expense_ratio + (max_expense_ratio - min_expense_ratio) * normalized_budget
    
    # Apply bias to expense ratio
    biased_expense_ratio = normalized_expense_ratio
    
    # If expense ratio is greater than 0.5, set it to 0.5
    if biased_expense_ratio > 0.5:
        biased_expense_ratio = 0.5
    
    return biased_expense_ratio

In [127]:
# Works only on yearly income
def calculate_risk(age, income):
    if age <= 30:
        if income >= 1000000:
            return 6
        elif income >= 700000:
            return 5
        elif income >= 500000:
            return 4
        else:
            return 3
    elif age <= 40:
        if income >= 1200000:
            return 5
        elif income >= 800000:
            return 4
        elif income >= 600000:
            return 3
        else:
            return 2
    elif age <= 50:
        if income >= 1500000:
            return 4
        elif income >= 1000000:
            return 3
        elif income >= 800000:
            return 2
        else:
            return 1
    else:
        if income >= 2000000:
            return 3
        elif income >= 1500000:
            return 2
        elif income >= 1000000:
            return 1
        else:
            return 0

In [128]:
def normalize_risk(risk):
    # Normalize risk value between 0 and 1
    normalized_risk = risk / 6.0  # Dividing by the maximum possible value
    
    # Apply bias to expense ratio
    biased_normalized_risk = normalized_risk
    
    # If expense ratio is greater than 0.5, set it to 0.5
    if biased_normalized_risk > 0.5:
        biased_normalized_risk = 0.5
    
    return biased_normalized_risk

In [129]:
def get_user_inputs():
    age = int(input("Enter your age: "))
    income = float(input("Enter your income: "))
    investment_budget = float(input("Enter your investment budget: "))
    
    subcategories = []
    while True:
        subcategory = input("Enter a subcategory (or type 'done' to finish): ")
        if subcategory.lower() == 'done':
            break
        subcategories.append(float(subcategory))  # Convert input to float and append to list
    
    investment_term = input("Enter the investment term (short term, midterm, or high term): ")
    investment_term_map = {'short term': 1, 'midterm': 3, 'high term': 5}
    investment_term_numeric = investment_term_map.get(investment_term.lower(), None)
    
    return age, income, investment_budget, subcategories, investment_term_numeric

# Example usage:
age, income, investment_budget, subcategories, investment_term = get_user_inputs()
print("Age:", age)
print("Income:", income)
print("Investment Budget:", investment_budget)
print("Subcategories:", subcategories)
print("Investment Term:", investment_term)

Enter your age: 25
Enter your income: 1000000
Enter your investment budget: 100000
Enter a subcategory (or type 'done' to finish): 1
Enter a subcategory (or type 'done' to finish): 2
Enter a subcategory (or type 'done' to finish): 3
Enter a subcategory (or type 'done' to finish): 4
Enter a subcategory (or type 'done' to finish): 5
Enter a subcategory (or type 'done' to finish): 6
Enter a subcategory (or type 'done' to finish): 7
Enter a subcategory (or type 'done' to finish): 8
Enter a subcategory (or type 'done' to finish): 9
Enter a subcategory (or type 'done' to finish): 10
Enter a subcategory (or type 'done' to finish): 11
Enter a subcategory (or type 'done' to finish): 12
Enter a subcategory (or type 'done' to finish): 13
Enter a subcategory (or type 'done' to finish): 14
Enter a subcategory (or type 'done' to finish): 15
Enter a subcategory (or type 'done' to finish): 16
Enter a subcategory (or type 'done' to finish): 17
Enter a subcategory (or type 'done' to finish): 18
Enter a subcategory (or type 'done' to finish): 19
Enter a subcategory (or type 'done' to finish): 20
Enter a subcategory (or type 'done' to finish): 21
Enter a subcategory (or type 'done' to finish): 22
Enter a subcategory (or type 'done' to finish): 23
Enter a subcategory (or type 'done' to finish): 24
Enter a subcategory (or type 'done' to finish): 25
Enter a subcategory (or type 'done' to finish): 26
Enter a subcategory (or type 'done' to finish): 27
Enter a subcategory (or type 'done' to finish): 28
Enter a subcategory (or type 'done' to finish): 26
Enter a subcategory (or type 'done' to finish): 29
Enter a subcategory (or type 'done' to finish): 30
Enter a subcategory (or type 'done' to finish): done
Enter the investment term (short term, midterm, or high term): midterm
Age: 25
Income: 1000000.0
Investment Budget: 100000.0
Subcategories: [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 26.0, 29.0, 30.0]
Investment Term: 3

In [130]:
def calculate_user_vector(age, income, investment_budget):
    expense_ratio = calculate_expense_ratio(investment_budget)
    risk = calculate_risk(age, income)
    normalised_risk = normalize_risk(risk)
    return [expense_ratio, normalised_risk]

In [131]:
vector = calculate_user_vector(age, income, investment_budget)
print("Vector:", vector)

Vector: [0.41000000000000003, 0.5]

## Filtering

In [132]:
# Assuming you have already created the category_mapping dictionary
# Reverse the dictionary to map integers back to category names
reverse_category_mapping = {v: k for k, v in category_mapping.items()}

# Assuming you have already created the reverse_category_mapping dictionary
# Assuming you have an array of values called values

values = subcategories # Example array of values

# Create an empty list to store the category names
category_names = []

# Loop through the array of values and get the corresponding category names
for value in values:
    category_name = reverse_category_mapping.get(value, "Unknown")
    category_names.append(category_name)

print(category_names)

['FoFs Domestic', 'Arbitrage Mutual Funds', 'Dynamic Asset Allocation or Balanced Advantage', 'Sectoral / Thematic Mutual Funds', 'Banking and PSU Mutual Funds', 'Corporate Bond Mutual Funds', 'Credit Risk Funds', 'Dividend Yield Funds', 'Dynamic Bond', 'Large & Mid Cap Funds', 'Aggressive Hybrid Mutual Funds', 'Equity Savings Mutual Funds', 'Flexi Cap Funds', 'Floater Mutual Funds', 'Focused Funds', 'Large Cap Mutual Funds', 'Gilt Mutual Funds', 'Medium to Long Duration Funds', 'Liquid Mutual Funds', 'Low Duration Funds', 'Medium Duration Funds', 'Mid Cap Mutual Funds', 'Money Market Funds', 'Index Funds', 'Value Funds', 'Conservative Hybrid Mutual Funds', 'Ultra Short Duration Funds', 'Short Duration Funds', 'Conservative Hybrid Mutual Funds', 'Small Cap Mutual Funds', 'ELSS Mutual Funds']

This is the new dataset after filtering

In [133]:
filtered_df = data[data['Sub_Category'].isin(category_names)]
filtered_df

,scheme_name,Scheme Codes,expense_ratio,risk_level,returns_1yr,returns_3yr,returns_5yr,Sub_Category
0,Aditya Birla SL Active Debt Multi-Mgr FoF-Dir ...,100033,0.27,3,4.0,6.5,6.9,FoFs Domestic
1,Aditya Birla SL Arbitrage Fund,100034,0.36,1,5.6,4.8,5.5,Arbitrage Mutual Funds
2,Aditya Birla SL Asset Allocator FoF-Dir Growth,100037,0.53,5,2.0,18.9,9.7,FoFs Domestic
3,Aditya Birla SL Balanced Advantage Fund,100038,0.61,6,4.5,18.6,9.7,Dynamic Asset Allocation or Balanced Advantage
4,Aditya Birla SL Banking&Financial Services-Dir...,100041,1.17,6,5.3,24.6,9.2,Sectoral / Thematic Mutual Funds
...,...,...,...,...,...,...,...,...
619,UTI-Transportation & Logistics Fund,100751,1.03,6,14.1,32.9,5.1,Sectoral / Thematic Mutual Funds
620,UTI-Treasury Advantage Fund,100800,0.33,2,5.2,7.3,4.8,Low Duration Funds
621,UTI-Ultra Short Term Fund,100801,0.44,3,5.4,6.1,5.7,Ultra Short Duration Funds
622,UTI-Unit Linked Insurance Plan – Direct,100802,0.96,4,-0.7,13.1,6.2,Dynamic Asset Allocation or Balanced Advantage
623,UTI-Value Opportunities Fund,100803,1.16,6,1.7,27.2,12.2,Value Funds

In [134]:
columns_to_drop = ['scheme_name', 'Scheme Codes', 'returns_3yr', 'returns_5yr']
first_year_returns_data = filtered_df.drop(columns=columns_to_drop)
first_year_returns_data

,expense_ratio,risk_level,returns_1yr,Sub_Category
0,0.27,3,4.0,FoFs Domestic
1,0.36,1,5.6,Arbitrage Mutual Funds
2,0.53,5,2.0,FoFs Domestic
3,0.61,6,4.5,Dynamic Asset Allocation or Balanced Advantage
4,1.17,6,5.3,Sectoral / Thematic Mutual Funds
...,...,...,...,...
619,1.03,6,14.1,Sectoral / Thematic Mutual Funds
620,0.33,2,5.2,Low Duration Funds
621,0.44,3,5.4,Ultra Short Duration Funds
622,0.96,4,-0.7,Dynamic Asset Allocation or Balanced Advantage
623,1.16,6,1.7,Value Funds

In [135]:
columns_to_drop = ['scheme_name', 'Scheme Codes', 'returns_1yr', 'returns_5yr']
third_year_returns_data = filtered_df.drop(columns=columns_to_drop)
third_year_returns_data

,expense_ratio,risk_level,returns_3yr,Sub_Category
0,0.27,3,6.5,FoFs Domestic
1,0.36,1,4.8,Arbitrage Mutual Funds
2,0.53,5,18.9,FoFs Domestic
3,0.61,6,18.6,Dynamic Asset Allocation or Balanced Advantage
4,1.17,6,24.6,Sectoral / Thematic Mutual Funds
...,...,...,...,...
619,1.03,6,32.9,Sectoral / Thematic Mutual Funds
620,0.33,2,7.3,Low Duration Funds
621,0.44,3,6.1,Ultra Short Duration Funds
622,0.96,4,13.1,Dynamic Asset Allocation or Balanced Advantage
623,1.16,6,27.2,Value Funds

In [136]:
columns_to_drop = ['scheme_name', 'Scheme Codes', 'returns_1yr', 'returns_3yr']
fifth_year_returns_data = filtered_df.drop(columns=columns_to_drop)
fifth_year_returns_data

,expense_ratio,risk_level,returns_5yr,Sub_Category
0,0.27,3,6.9,FoFs Domestic
1,0.36,1,5.5,Arbitrage Mutual Funds
2,0.53,5,9.7,FoFs Domestic
3,0.61,6,9.7,Dynamic Asset Allocation or Balanced Advantage
4,1.17,6,9.2,Sectoral / Thematic Mutual Funds
...,...,...,...,...
619,1.03,6,5.1,Sectoral / Thematic Mutual Funds
620,0.33,2,4.8,Low Duration Funds
621,0.44,3,5.7,Ultra Short Duration Funds
622,0.96,4,6.2,Dynamic Asset Allocation or Balanced Advantage
623,1.16,6,12.2,Value Funds

In [137]:
if investment_term == 1:
    # Copy data1 to a new DataFrame
    returns_data = first_year_returns_data.copy()
    user_data = {
    'expense_ratio': [vector[0]],
    'risk_level': [vector[1]],
    'returns_1yr': [0.75]
}
elif investment_term == 3:
    returns_data = third_year_returns_data.copy()
    user_data = {
    'expense_ratio': [vector[0]],
    'risk_level': [vector[1]],
    'returns_3yr': [0.75]
}
elif investment_term == 5:
    returns_data = fifth_year_returns_data.copy()
    user_data = {
    'expense_ratio': [vector[0]],
    'risk_level': [vector[1]],
    'returns_5yr': [0.75]
}
else:
    print("Invalid value. Please enter 1 or 3 or 5.")

In [138]:
returns_data

,expense_ratio,risk_level,returns_3yr,Sub_Category
0,0.27,3,6.5,FoFs Domestic
1,0.36,1,4.8,Arbitrage Mutual Funds
2,0.53,5,18.9,FoFs Domestic
3,0.61,6,18.6,Dynamic Asset Allocation or Balanced Advantage
4,1.17,6,24.6,Sectoral / Thematic Mutual Funds
...,...,...,...,...
619,1.03,6,32.9,Sectoral / Thematic Mutual Funds
620,0.33,2,7.3,Low Duration Funds
621,0.44,3,6.1,Ultra Short Duration Funds
622,0.96,4,13.1,Dynamic Asset Allocation or Balanced Advantage
623,1.16,6,27.2,Value Funds

In [139]:
columns_to_drop = ['Sub_Category']
returns_data =  returns_data.drop(columns=columns_to_drop)
returns_data

     expense_ratio  risk_level  returns_3yr
0             0.27           3          6.5
1             0.36           1          4.8
2             0.53           5         18.9
3             0.61           6         18.6
4             1.17           6         24.6
..             ...         ...          ...
619           1.03           6         32.9
620           0.33           2          7.3
621           0.44           3          6.1
622           0.96           4         13.1
623           1.16           6         27.2

[586 rows x 3 columns]

In [140]:
# Assuming df is your DataFrame
index_to_row_number = {index: row_number for row_number, index in enumerate(returns_data.index)}

# Example usage:
print(index_to_row_number)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26, 27: 27, 28: 28, 29: 29, 30: 30, 31: 31, 32: 32, 33: 33, 34: 34, 35: 35, 36: 36, 37: 37, 38: 38, 39: 39, 40: 40, 41: 41, 42: 42, 43: 43, 45: 44, 46: 45, 47: 46, 48: 47, 49: 48, 50: 49, 51: 50, 52: 51, 53: 52, 54: 53, 55: 54, 56: 55, 57: 56, 58: 57, 59: 58, 60: 59, 62: 60, 63: 61, 64: 62, 65: 63, 66: 64, 67: 65, 68: 66, 69: 67, 70: 68, 71: 69, 72: 70, 73: 71, 74: 72, 75: 73, 76: 74, 77: 75, 78: 76, 79: 77, 80: 78, 81: 79, 82: 80, 83: 81, 84: 82, 85: 83, 86: 84, 87: 85, 88: 86, 90: 87, 91: 88, 92: 89, 93: 90, 94: 91, 95: 92, 96: 93, 97: 94, 98: 95, 99: 96, 100: 97, 101: 98, 102: 99, 103: 100, 104: 101, 105: 102, 106: 103, 107: 104, 108: 105, 109: 106, 110: 107, 111: 108, 112: 109, 113: 110, 114: 111, 115: 112, 116: 113, 117: 114, 118: 115, 119: 116, 120: 117, 121: 118, 122: 119, 123: 120, 124: 121, 125: 122, 126: 123, 127: 124, 128: 125, 129: 126, 130: 127, 131: 128, 132: 129, 133: 130, 134: 131, 135: 132, 136: 133, 137: 134, 138: 135, 139: 136, 140: 137, 141: 138, 142: 139, 143: 140, 144: 141, 145: 142, 146: 143, 147: 144, 148: 145, 149: 146, 150: 147, 151: 148, 152: 149, 153: 150, 154: 151, 155: 152, 156: 153, 157: 154, 158: 155, 159: 156, 160: 157, 161: 158, 162: 159, 163: 160, 164: 161, 165: 162, 166: 163, 167: 164, 168: 165, 169: 166, 170: 167, 172: 168, 173: 169, 174: 170, 175: 171, 176: 172, 177: 173, 178: 174, 179: 175, 180: 176, 181: 177, 182: 178, 183: 179, 184: 180, 185: 181, 186: 182, 187: 183, 188: 184, 189: 185, 190: 186, 191: 187, 192: 188, 193: 189, 194: 190, 200: 191, 201: 192, 202: 193, 203: 194, 204: 195, 205: 196, 206: 197, 207: 198, 208: 199, 209: 200, 210: 201, 211: 202, 212: 203, 213: 204, 214: 205, 215: 206, 216: 207, 217: 208, 218: 209, 219: 210, 220: 211, 221: 212, 222: 213, 223: 214, 224: 215, 225: 216, 226: 217, 227: 218, 228: 219, 229: 220, 230: 221, 231: 222, 232: 223, 233: 224, 234: 225, 235: 226, 236: 227, 237: 228, 238: 229, 239: 230, 240: 231, 241: 232, 243: 233, 244: 234, 245: 235, 246: 236, 247: 237, 248: 238, 249: 239, 250: 240, 251: 241, 252: 242, 253: 243, 254: 244, 255: 245, 256: 246, 257: 247, 258: 248, 259: 249, 260: 250, 261: 251, 262: 252, 263: 253, 266: 254, 267: 255, 268: 256, 269: 257, 270: 258, 272: 259, 273: 260, 274: 261, 275: 262, 276: 263, 277: 264, 278: 265, 279: 266, 280: 267, 281: 268, 282: 269, 283: 270, 284: 271, 285: 272, 286: 273, 287: 274, 288: 275, 289: 276, 290: 277, 291: 278, 292: 279, 293: 280, 294: 281, 295: 282, 296: 283, 297: 284, 298: 285, 299: 286, 300: 287, 301: 288, 302: 289, 303: 290, 304: 291, 306: 292, 307: 293, 308: 294, 309: 295, 310: 296, 311: 297, 312: 298, 313: 299, 314: 300, 315: 301, 316: 302, 317: 303, 319: 304, 320: 305, 321: 306, 322: 307, 323: 308, 324: 309, 325: 310, 326: 311, 327: 312, 328: 313, 329: 314, 330: 315, 331: 316, 332: 317, 333: 318, 334: 319, 335: 320, 336: 321, 337: 322, 338: 323, 339: 324, 340: 325, 341: 326, 342: 327, 343: 328, 344: 329, 345: 330, 346: 331, 347: 332, 348: 333, 349: 334, 350: 335, 351: 336, 354: 337, 355: 338, 356: 339, 357: 340, 358: 341, 359: 342, 360: 343, 361: 344, 362: 345, 363: 346, 364: 347, 365: 348, 366: 349, 368: 350, 369: 351, 370: 352, 371: 353, 372: 354, 373: 355, 374: 356, 375: 357, 376: 358, 377: 359, 378: 360, 379: 361, 380: 362, 381: 363, 382: 364, 383: 365, 384: 366, 386: 367, 387: 368, 388: 369, 389: 370, 390: 371, 391: 372, 392: 373, 393: 374, 394: 375, 395: 376, 396: 377, 397: 378, 398: 379, 399: 380, 400: 381, 401: 382, 403: 383, 404: 384, 405: 385, 406: 386, 407: 387, 408: 388, 409: 389, 410: 390, 411: 391, 412: 392, 413: 393, 414: 394, 415: 395, 416: 396, 417: 397, 418: 398, 419: 399, 420: 400, 421: 401, 422: 402, 423: 403, 424: 404, 425: 405, 426: 406, 427: 407, 428: 408, 429: 409, 431: 410, 432: 411, 433: 412, 436: 413, 437: 414, 438: 415, 439: 416, 440: 417, 441: 418, 442: 419, 443: 420, 444: 421, 445: 422, 446: 423, 447: 424, 448: 425, 449: 426, 450: 427, 451: 428, 452: 429, 453: 430, 454: 431, 455: 432, 456: 433, 457: 434, 458: 435, 459: 436, 461: 437, 462: 438, 463: 439, 464: 440, 465: 441, 466: 442, 468: 443, 469: 444, 470: 445, 471: 446, 472: 447, 473: 448, 474: 449, 475: 450, 476: 451, 477: 452, 478: 453, 479: 454, 480: 455, 481: 456, 482: 457, 484: 458, 485: 459, 486: 460, 487: 461, 488: 462, 489: 463, 490: 464, 491: 465, 492: 466, 493: 467, 494: 468, 495: 469, 496: 470, 497: 471, 498: 472, 499: 473, 501: 474, 502: 475, 503: 476, 504: 477, 505: 478, 506: 479, 507: 480, 508: 481, 509: 482, 511: 483, 513: 484, 514: 485, 515: 486, 516: 487, 517: 488, 518: 489, 519: 490, 520: 491, 521: 492, 522: 493, 523: 494, 524: 495, 525: 496, 526: 497, 527: 498, 528: 499, 529: 500, 530: 501, 531: 502, 532: 503, 533: 504, 534: 505, 535: 506, 536: 507, 537: 508, 538: 509, 539: 510, 540: 511, 541: 512, 542: 513, 544: 514, 545: 515, 546: 516, 547: 517, 548: 518, 549: 519, 550: 520, 551: 521, 552: 522, 553: 523, 554: 524, 555: 525, 556: 526, 557: 527, 558: 528, 559: 529, 560: 530, 561: 531, 562: 532, 563: 533, 564: 534, 565: 535, 566: 536, 570: 537, 571: 538, 572: 539, 574: 540, 575: 541, 576: 542, 577: 543, 578: 544, 579: 545, 580: 546, 581: 547, 582: 548, 583: 549, 584: 550, 585: 551, 586: 552, 587: 553, 588: 554, 589: 555, 590: 556, 591: 557, 592: 558, 593: 559, 594: 560, 596: 561, 597: 562, 598: 563, 599: 564, 600: 565, 601: 566, 602: 567, 603: 568, 604: 569, 605: 570, 606: 571, 607: 572, 608: 573, 609: 574, 610: 575, 611: 576, 612: 577, 614: 578, 616: 579, 618: 580, 619: 581, 620: 582, 621: 583, 622: 584, 623: 585}

### normalisation

In [141]:
from sklearn.preprocessing import MinMaxScaler

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler to the data and transform the data
returns_data_normalized = scaler.fit_transform(returns_data)

# Convert the scaled data back to a DataFrame
returns_data_normalized = pd.DataFrame(returns_data_normalized, columns=returns_data.columns)
first_year=returns_data_normalized.copy()

In [142]:
returns_data_normalized

     expense_ratio  risk_level  returns_3yr
0         0.083004         0.4     0.046990
1         0.118577         0.0     0.022026
2         0.185771         0.8     0.229075
3         0.217391         1.0     0.224670
4         0.438735         1.0     0.312775
..             ...         ...          ...
581       0.383399         1.0     0.434655
582       0.106719         0.2     0.058737
583       0.150198         0.4     0.041116
584       0.355731         0.6     0.143906
585       0.434783         1.0     0.350954

[586 rows x 3 columns]

In [143]:
user_df = pd.DataFrame(user_data)

# Append the user input data to the original DataFrame
returns_data_with_user = pd.concat([returns_data_normalized, user_df], ignore_index=True)

# Now your data DataFrame contains the user input data as a new row
print("Updated DataFrame:")
returns_data_with_user

Updated DataFrame:

     expense_ratio  risk_level  returns_3yr
0         0.083004         0.4     0.046990
1         0.118577         0.0     0.022026
2         0.185771         0.8     0.229075
3         0.217391         1.0     0.224670
4         0.438735         1.0     0.312775
..             ...         ...          ...
582       0.106719         0.2     0.058737
583       0.150198         0.4     0.041116
584       0.355731         0.6     0.143906
585       0.434783         1.0     0.350954
586       0.410000         0.5     0.750000

[587 rows x 3 columns]

## Cosine Similarity

In [144]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity

In [145]:
# Calculate cosine similarity
returns_data_similarity = cosine_similarity(returns_data_with_user)

# Convert cosine similarity array to DataFrame for readability
returns_data_similarity = pd.DataFrame(returns_data_similarity, columns=returns_data_with_user.index, index=returns_data_with_user.index)

print("Cosine Similarity Matrix:")
returns_data_similarity

Cosine Similarity Matrix:

,0,1,2,3,4,5,6,7,8,9,...,577,578,579,580,581,582,583,584,585,586
0,1.000000,0.219325,0.987359,0.994801,0.965760,0.995742,0.960494,0.982402,0.931718,0.911783,...,0.996889,0.967673,0.904001,0.996159,0.951519,0.951410,0.988033,0.943371,0.960784,0.661271
1,0.219325,1.000000,0.263281,0.243161,0.430029,0.308085,0.466807,0.397121,0.353015,0.571582,...,0.147623,0.109628,0.614734,0.282368,0.394813,0.493864,0.361521,0.527971,0.429122,0.545395
2,0.987359,0.263281,1.000000,0.998345,0.984128,0.986525,0.974877,0.976659,0.977049,0.941702,...,0.976235,0.985039,0.916641,0.995485,0.985084,0.968010,0.976319,0.953543,0.984088,0.767445
3,0.994801,0.243161,0.998345,1.000000,0.979423,0.992245,0.971322,0.980598,0.963271,0.931930,...,0.986864,0.982546,0.912592,0.998386,0.975240,0.963489,0.982564,0.951024,0.977652,0.730237
4,0.965760,0.430029,0.984128,0.979423,1.000000,0.981311,0.998464,0.988457,0.977238,0.985940,...,0.942502,0.941156,0.971672,0.984338,0.993328,0.996940,0.981891,0.990185,0.999469,0.812965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582,0.951410,0.493864,0.968010,0.963489,0.996940,0.973571,0.999505,0.987656,0.962903,0.993682,...,0.924247,0.912104,0.987173,0.972524,0.984407,1.000000,0.979356,0.997786,0.995377,0.809884
583,0.988033,0.361521,0.976319,0.982564,0.981891,0.997758,0.984100,0.998905,0.929368,0.950971,...,0.975422,0.930874,0.955538,0.991522,0.958335,0.979356,1.000000,0.979171,0.975653,0.687946
584,0.943371,0.527971,0.953543,0.951024,0.990185,0.969320,0.996370,0.987418,0.942925,0.991929,...,0.915215,0.887879,0.994284,0.963734,0.970531,0.997786,0.979171,1.000000,0.986903,0.785196
585,0.960784,0.429122,0.984088,0.977652,0.999469,0.976154,0.996707,0.983126,0.983245,0.986419,...,0.936555,0.943701,0.968026,0.981265,0.996397,0.995377,0.975653,0.986903,1.000000,0.829971
586,0.661271,0.545395,0.767445,0.730237,0.812965,0.691891,0.800859,0.716722,0.885665,0.855664,...,0.610367,0.740688,0.788013,0.722102,0.859012,0.809884,0.687946,0.785196,0.829971,1.000000

In [146]:
user_similarity=returns_data_similarity[len(returns_data_similarity)-1]

In [147]:
user_similarity

0      0.661271
1      0.545395
2      0.767445
3      0.730237
4      0.812965
         ...
582    0.809884
583    0.687946
584    0.785196
585    0.829971
586    1.000000
Name: 586, Length: 587, dtype: float64

In [148]:
import numpy as np

# Exclude the last element of the array
array_without_last = user_similarity[:-1]

# Get the indices of the top 10 largest values
top_10_indices = np.argpartition(-array_without_last, kth=10)[:10]

# Print the indices of the top 10 largest values
print("Indices of the top 10 largest values:")
print(top_10_indices)

Indices of the top 10 largest values:
[209 443 469 363 426 386 201 488 439 472]

In [149]:
# Assuming you have already created the category_mapping dictionary
# Reverse the dictionary to map integers back to category names
reverse_category_mapping = {v: k for k, v in index_to_row_number.items()}

# Assuming you have already created the reverse_category_mapping dictionary
# Assuming you have an array of values called values

# Create an empty list to store the category names
scheme_index = []

# Loop through the array of values and get the corresponding category names
for value in top_10_indices:
    index = reverse_category_mapping.get(value, "Unknown")
    scheme_index.append(index)

print(scheme_index)

[218, 468, 495, 381, 449, 406, 210, 517, 463, 498]

In [150]:
scheme_codes = []
for key in scheme_index:
    code = index_to_scheme_code.get(key)
    scheme_codes.append(code)

print(scheme_codes)

[101696, 101065, 101003, 139535, 125306, 113142, 101685, 102201, 100175, 101206]

## Prediction

In [151]:
import requests
import pandas as pd
from prophet import Prophet

In [152]:
# Function create a dataframe by fetching the current data.import requests
def fetch_scheme_nav_data(scheme_code):
    api_url = f"https://api.mfapi.in/mf/{scheme_code}"
    response = requests.get(api_url)
    
    if response.status_code == 200:
        json_data = response.json()
        nav_data = json_data.get('data', [])
        
        if nav_data:
            nav_df = pd.DataFrame(nav_data)
            nav_df['date'] = pd.to_datetime(nav_df['date'], format='%d-%m-%Y')
            nav_df['nav'] = pd.to_numeric(nav_df['nav'], errors='coerce')
            nav_df['date'] = nav_df['date'].dt.strftime('%d-%m-%Y')
            nav_df = nav_df[::-1]
            return nav_df
        else:
            print("No NAV data available for the scheme.")
            return None
    else:
        print("Failed to fetch JSON data:", response.status_code)
        return None

In [153]:
# Function to predcit and return the predcited dataframe
def predict_nav(nav_df):
    
    # Check if the dataframe is small
    if len(nav_df) < 100:
        #print("Input dataframe is too small. Returning null dataframe.")
        return pd.DataFrame(columns=['ds', 'yhat'])
    # Step 1: Preprocess the data
    # Ensure 'date' column is in datetime format
    nav_df['ds'] = pd.to_datetime(nav_df['date'], format='%d-%m-%Y')
    # Rename 'nav' column to 'y' as required by Prophet
    nav_df.rename(columns={'nav': 'y'}, inplace=True)

    # Step 2: Train a forecasting model
    model = Prophet()
    model.fit(nav_df)

    # Step 3: Make predictions for the next 5 years
    future = model.make_future_dataframe(periods=365*5, freq='D')
    forecast = model.predict(future)
    
    # Filter out dates beyond the range of the original data
    future_dates = forecast[forecast['ds'] > nav_df['ds'].max()]['ds']

    # Create predicted_values DataFrame with only future dates and predicted NAV values
    predicted_values = forecast[forecast['ds'].isin(future_dates)][['ds', 'yhat']].copy()

    return predicted_values

In [154]:
# Function which will return the scores based on the predicted value
def calculate_returns(predicted_nav_df):
    
    
    if predicted_nav_df.empty:  # Check if the dataframe is empty
        return {}  # Return an empty dataframe if it's empty
    # Step 1: Sort the dataframe by date
    
    predicted_nav_df_sorted = predicted_nav_df.sort_values(by='ds')

    # Step 2: Calculate 1-year, 3-year, and 5-year returns
    def calculate_returns(nav_values, dates, years):
        returns = {}
        for year in years:
            # Calculate the NAV at the beginning and end of the period
            end_nav = nav_values.iloc[-1]
            start_date = max(dates) - pd.DateOffset(years=year)
            start_nav = nav_values[dates >= start_date].iloc[0]
                        # If start_nav is zero, replace it with 1
            if start_nav == 0:
                start_nav = 1
            # Calculate the return using the CAGR formula
            cagr = (end_nav / start_nav) ** (1/year) - 1
            returns[f"{year}-Year Return"] = cagr * 100  # Convert to percentage
        return returns

    # Extract NAV values and dates
    nav_values = predicted_nav_df_sorted['yhat']
    dates = predicted_nav_df_sorted['ds']

    # Calculate returns
    years = [1, 3, 5]
    returns = calculate_returns(nav_values, dates, years)

    return returns

In [155]:
# Function to create a dataframe with funds and scores
def calculate_scores_for_scheme_codes(scheme_codes, year):
    # Create an empty list to store the results
    results = []

    # Iterate over the list of scheme codes
    for scheme_code in scheme_codes:
        # Fetch NAV data for the scheme
        nav_df = fetch_scheme_nav_data(scheme_code)

        if nav_df is not None:
            # Predict NAV values
            predicted_nav_df = predict_nav(nav_df)

            # Calculate returns
            returns = calculate_returns(predicted_nav_df)
            #print(type(returns_dict))
            if not returns:
                results.append({
                    'Scheme Code': scheme_code,
                    '1-Year Return': -1,
                    '3-Year Return': -1,
                    '5-Year Return': -1
                })
            else:
                # Append scheme code and returns to the results list as a dictionary
                results.append({
                    'Scheme Code': scheme_code,
                    '1-Year Return': returns['1-Year Return'],
                    '3-Year Return': returns['3-Year Return'],
                    '5-Year Return': returns['5-Year Return']
                })
        else:
            print(f"Failed to fetch NAV data for scheme code {scheme_code}. Skipping...")

    # Create DataFrame from the list of dictionaries
    results_df = pd.DataFrame(results)

    returns = {}
    for index, row in results_df.iterrows():
        scheme_code = row['Scheme Code']
        if year == 1:
            returns[scheme_code] = row['1-Year Return']
        elif year == 3:
            returns[scheme_code] = row['3-Year Return']
        elif year == 5:
            returns[scheme_code] = row['5-Year Return']
        else:
            print("Invalid year! Please provide 1, 3, or 5 for year.")
            return None
    return returns

investment_term  scheme_codes

In [156]:
scores_df = calculate_scores_for_scheme_codes(scheme_codes,investment_term)
scores_df

21:46:21 - cmdstanpy - INFO - Chain [1] start processing
21:46:24 - cmdstanpy - INFO - Chain [1] done processing
21:46:27 - cmdstanpy - INFO - Chain [1] start processing
21:46:28 - cmdstanpy - INFO - Chain [1] done processing
21:46:31 - cmdstanpy - INFO - Chain [1] start processing
21:46:33 - cmdstanpy - INFO - Chain [1] done processing
21:46:36 - cmdstanpy - INFO - Chain [1] start processing
21:46:38 - cmdstanpy - INFO - Chain [1] done processing
21:46:40 - cmdstanpy - INFO - Chain [1] start processing
21:46:42 - cmdstanpy - INFO - Chain [1] done processing
21:46:44 - cmdstanpy - INFO - Chain [1] start processing
21:46:46 - cmdstanpy - INFO - Chain [1] done processing
21:46:48 - cmdstanpy - INFO - Chain [1] start processing
21:46:50 - cmdstanpy - INFO - Chain [1] done processing
21:46:52 - cmdstanpy - INFO - Chain [1] start processing
21:46:53 - cmdstanpy - INFO - Chain [1] done processing
21:46:55 - cmdstanpy - INFO - Chain [1] start processing
21:46:56 - cmdstanpy - INFO - Chain [1] done processing
21:46:59 - cmdstanpy - INFO - Chain [1] start processing
21:47:03 - cmdstanpy - INFO - Chain [1] done processing

{101696.0: 6.224026520913584,
 101065.0: 14.338790640645938,
 101003.0: 4.211196579203347,
 139535.0: 5.15553211312465,
 125306.0: 3.761862637977753,
 113142.0: 4.944058425055298,
 101685.0: 3.2623366228659245,
 102201.0: 2.2935902058732527,
 100175.0: 13.246291991196713,
 101206.0: 3.513790147638063}

In [157]:
def print_top_5_scores(scores_df):
    # Sort the dictionary by values in descending order
    sorted_scores = sorted(scores_df.items(), key=lambda x: x[1], reverse=True)
    
    # Print the top 5 key-value pairs
    print("Top 5 Key-Value Pairs:")
    for i, (key, value) in enumerate(sorted_scores[:5]):
        print(f"{i+1}. Key: {key}, Value: {value}")

In [158]:
print_top_5_scores(scores_df)

Top 5 Key-Value Pairs:
1. Key: 101065.0, Value: 14.338790640645938
2. Key: 100175.0, Value: 13.246291991196713
3. Key: 101696.0, Value: 6.224026520913584
4. Key: 139535.0, Value: 5.15553211312465
5. Key: 113142.0, Value: 4.944058425055298